language: php
php:
  - 5.3
  - 5.4
  - 5.5
before_script:
  - wget --quiet http://getcomposer.org/composer.phar
  - php composer.phar install
  - cp phpunit.xml.dist phpunit.xml
  - ~/.nvm/nvm.sh run default vendor/guzzle/guzzle/tests/Guzzle/Tests/Http/server.js &
script: phpunit
